
body{
    background-image: url(image/lppic.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    margin: 12px;
}

.flex-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    display: block;
}

h1{
    text-align: center;
    padding: 150px 190px 20px;
    font-size: 3rem;
    color: yellowgreen;
}

.btn-xl{
    padding: 1rem 2rem;
}

.btn{
    margin-left: 20px;
    font-weight: 700;
    border-radius: 30px;
    text-transform: uppercase;
}

.btn-primary{
    background-color: #44f0d9;
    border: #f05f44;
}

.btn-primary:hover{
    background-color: #0817ee;
    border: #ee4b08;
    border-width: 4px;
}

hr{
    border-color:#fff;
    border-width: 1px;
    margin-bottom: 5px;
    max-width: 500px; 
    padding: 150p 20px;
}

