
body{
    background-image: url(image/lppic.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat-x;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    padding: 230px 190px 15px;
    font-size: 3rem;
    color: yellowgreen;
}

.btn-xl{
    padding: 1rem 2rem;
}

.btn{
    margin-left: 650px;
    font-weight: 700;
    border-radius: 30px;
    text-transform: uppercase;
}

.btn-primary{
    background-color: #44f0d9;
    border: #f05f44;
}

.btn-primary:hover{
    background-color: #0817ee;
    border: #ee4b08;
    border-width: 4px;
}

hr{
    border-color:#f0449a;
    border-width: 1px;
    margin-bottom: 5px;
    max-width: 80px; 
}

@media only screen (min width 1000px) {
    .flex-container{
        width: 1000px;
    }

    h1{
        padding: 260px 0px 30px;
    }

    .btn-xl{
        padding: 0 0;
    }
    
    .btn{
        margin-left: 5px;
        border-radius: 10px;
        text-transform: uppercase;
    }
    
    .btn-primary:hover{
        border-width: 1px;
    }
    
    hr{
        border-width: 1px;
        margin-bottom: 5px;
        max-width: 20px; 
    }
    

}
